<blockquote class="quote">
	<p class="quote-text">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quam earum consequatur quibusdam nobis soluta!
		Necessitatibus quo assumenda perspiciatis magni!
	</p>
	<footer>
		<div class="media">
			<div class="media-image">
				<svg class="icon icon-primary quote-line">
					<use xlink:href="icons/sprite.svg#line"></use>
				</svg>
			</div>
			<div class="media-body">
				<h3 class="media-title quote-author">John Smith</h3>
				<p class="quote-organization">ABC Company</p>
			</div>
		</div>
	</footer>
</blockquote>
